body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

nav {
  background-color: #ADADAD;
  display: block;
  height: 7%;
  width: 100%;
}
nav ul {
  display: inline-block;
  float: right;
  font-size: 15px;
  color: black;
  height: 100%;
  background-color: #6B6B6B;
}
nav li {
  display: inline-block;
  padding: 21px 40px;
}
nav a {
  display: inline-block;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  height: inherit;
}
nav a:hover {
  background-color: #001D91;
  color: white;
  font-weight: 500;
}

#hero {
  height: 93%;
  background: url('anna-mirror.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}
#hero h1 {
  font-size: 80px;
  font-weight: bold;
  float: right;
  padding: 100px 50px;
}