<html>
<head>
  <title>Personal Site Blog</title>
  <link rel="stylesheet" href="/reset.css" type="text/css" />
  <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/about"><li>About Me</li></a>
      <a href="/blog"><li>Blog</li></a>
    </ul>
  </nav>
  <h1>Blog!</h1>
  <p>This is where I write stuff.</p>
</body>
</html>