<html>
  <head>
    <title>Personal Site</title>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About Me</li></a>
        <a href="/blog"><li>Blog</li></a>
      </ul>
    </nav>
    <section id="hero">
      <a href="/about"><h1>Anna Smolentzov</h1></a>
      <a href="/blog"><h3>Building Stuff at Turing</h3></a>
    </section>
  </body>
</html>
  